.main {
    display: flex;
    margin: 0 50px 0 200px;

    @media (max-width: 1300px) {
        margin: 0 10px 0 160px;
    }

    @media (max-width: 700px) {
        margin: 0 20px;
    }
}

.nav {
    display: flex;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    transition: .2s ease;
    z-index: 99;
}

.navbar {
    @media (max-width: 700px) {
        transition: .4s ease;
        transform: translateX(-140px);
    }
}

.navbar__active {
    transition: .4s ease;
    transform: translateX(0);
}

.main__content {
    display: flex;
    flex-direction: column;
}